[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
python-dotenv = "*"
streamlit = "*"
bs4 = "*"
requests = "*"
pinecone-client = "*"
pydantic = "*"
typing = "*"
langchain-openai = "*"
pypdf = "*"
pdfkit = "*"
weasyprint = "*"
flask = "*"
hugchat = "*"
exceptiongroup = "*"

[dev-packages]

[requires]
python_version = "3.12"
